wandb_flag: True
wandb_project: 'herdnet'
wandb_entity: 'karisu'
wandb_run: 'dla34_train_val_inverted_val_corrected'
wandb_tags: ['iguana','dla34', 'label_noise', 'boxcenter']

seed: 1
device_name: "mps"

model:
  # name: 'HerdNetTimm'
  name: 'HerdNetTimmDLA'

  # work_dir: "./outputs/"
  from_torchvision: False
  load_from: "/Volumes/2TB/work/training_data_sync/herdnet/outputs/2025-08-10/11-41-37/best_model.pth"

  resume_from: null
  kwargs:
    backbone: 'timm/dla34'
    # backbone: 'timm/vit_base_patch14_dinov2.lvd142m'
    pretrained: True
    # pretrained_path: '/home/cwinkelmann/work/Herdnet/data/models/dla34_224/model_best.pth.tar'
    pretrained_path: null
    down_ratio: 4  # was two before
    head_conv: 64 # was 64
  freeze: null # Freeze the backbone, if you want to train only the heads

losses:
  FocalLoss:
    print_name: 'focal_loss'
    from_torch: False
    output_idx: 0
    target_idx: 0
    lambda_const: 1.0
    kwargs:
      alpha: 4
      beta: 1
      reduction: 'mean'
      normalize: False

  CrossEntropyLoss:
    print_name: 'ce_loss'
    from_torch: True
    output_idx: 1
    target_idx: 1
    lambda_const: 1.0
    kwargs:
      reduction: 'mean'
      weight: [20.0,   # 1 # iguana
               5.,    # 2 # hard negative
               15.,   # 3
               1.,    # 4
               0.1,   # 5
               0.1,   # 6
               1.0,   # 7
               0.1    # 8 # background
      ] # One weight for each class including the background
      #weight: [0.9, 0.001, 1.0] # From the notebook

datasets:
  img_size: [512, 512] # The size of how the images should be processed, mostly important for the tiled prediction
  anno_type: 'point'
  num_classes: 8 # One class more for the background
  collate_fn: null


  class_def:
    1: 'iguana_point'
    2: 'hard_negative' # these next 6 are just there so I can use the pretrained model
    3: 'Kob'
    4: 'Warthog'
    5: 'Waterbuck'
    6: 'Elephant'
    7: 'Impala'

  train:
    # name: 'CSVDataset'
    name: 'CSVDataset'
#
#    csv_file: '/home/cwinkelmann/work/Herdnet/data/floreana_all/train/herdnet_format_512_0_crops.csv'
#    root_dir: '/home/cwinkelmann/work/Herdnet/data/floreana_all/train/crops_512_numNone_overlap0'

#    csv_file: '/home/cwinkelmann/work/Herdnet/data/2025_07_10_Floreana_val_corrected/Floreana_detection_corrected/train/herdnet_format_512_0_crops.csv'
#    root_dir: '/home/cwinkelmann/work/Herdnet/data/2025_07_10_Floreana_val_corrected/Floreana_detection_corrected/train/crops_512_numNone_overlap0'

    csv_file: '/home/cwinkelmann/work/Herdnet/data/2025_07_10_Floreana_val_corrected/Floreana_detection_corrected/val/herdnet_format_boxcenter.csv'
    root_dir: '/home/cwinkelmann/work/Herdnet/data/2025_07_10_Floreana_val_corrected/Floreana_detection_corrected/val/Default'

#    csv_file: '/home/cwinkelmann/work/Herdnet/data/floreana_all/train/herdnet_format.csv'
#    root_dir: '/home/cwinkelmann/work/Herdnet/data/floreana_all/train/Default'


    sampler: null
    augmentation_multiplier: 35

    albu_transforms:
      ObjectAwareRandomCrop:
        height: 1000
        width: 1000
        p: 1.0
        attempts: 10
        edge_black_blobs: true
      RandomScale:
        scale_limit:
          - 0.8
          - 1.2
        p: 0.5
      ShiftScaleRotate:
        shift_limit: 0.1
        scale_limit: 0.15
        rotate_limit: 45
        p: 0.5
        border_mode: 4
      Perspective:
        scale:
          - 0.05
          - 0.15
        p: 0.3
      Affine:
        scale:
          - 0.9
          - 1.1
        translate_percent:
          - 0.1
          - 0.1
        rotate:
          - -45
          - 45
        shear:
          - -10
          - 10
        p: 0.2
      HorizontalFlip:
        p: 0.2
      VerticalFlip:
        p: 0.2
      MotionBlur:
        p: 0.2
      RandomRotate90:
        p: 0.5
      RandomBrightnessContrast:
        brightness_limit: 0.2
        contrast_limit: 0.2
        p: 0.1
      Blur:
        blur_limit: 15
        p: 0.1
      ToGray:
        p: 0.1
      ObjectAwareRandomCropEdgeBlackout:
        height: 512
        width: 512
        p: 1.0
        attempts: 10
        edge_black_blobs: true
      Normalize:
        p: 1.0
    end_transforms:
      MultiTransformsWrapper:
        FIDT:
          num_classes: ${datasets.num_classes}
          down_ratio: ${model.kwargs.down_ratio}
          radius: 3
        PointsToMask:
          radius: 2
          num_classes: ${datasets.num_classes}
          squeeze: true
          down_ratio: 32

  validate:
    name: 'CSVDataset'

    csv_file: '/home/cwinkelmann/work/Herdnet/data/2025_07_10_Floreana_val_corrected/Floreana_detection_corrected/train/herdnet_format_points.csv'
    root_dir: '/home/cwinkelmann/work/Herdnet/data/2025_07_10_Floreana_val_corrected/Floreana_detection_corrected/train/Default'


    # data/FLPC01-07_orthomosaic_herdnet/jpg_tiles
    albu_transforms:
#      ObjectAwareRandomCrop:
#        height: 1500
#        width: 1500
#        p: 1.0
#        attempts: 10
#        edge_black_blobs: True

      Normalize:
        p: 1.0

    end_transforms:
      DownSample:
        down_ratio: ${model.kwargs.down_ratio}
        anno_type: ${datasets.anno_type}

  test:
    name: 'CSVDataset'

    csv_file: '/home/cwinkelmann/work/Herdnet/data/2025_07_10_Floreana_val_corrected/Floreana_detection_corrected/train/herdnet_format_points.csv'
    root_dir: '/home/cwinkelmann/work/Herdnet/data/2025_07_10_Floreana_val_corrected/Floreana_detection_corrected/train/Default'


training_settings:
  trainer: 'Trainer'
  epochs: 100
  valid_freq: 2
  print_freq: 25
  batch_size: 100
  # optimizer: 'SGD'
  optimizer: 'adamW'
  lr: 0.001
  weight_decay: 0.0005
  num_workers: 62
  auto_lr:
    mode: 'max'
    patience: 5
    threshold: 1e-4
    threshold_mode: 'rel'
    cooldown: 20
    min_lr: 1e-7
    verbose: True
  warmup_iters: 1000

  # vizual_fn: "model_vizual"
  vizual_fn: null
  visualiser: null

  evaluator:
    name: 'HerdNetEvaluator'
    threshold: 25
    select_mode: 'max'
    validate_on: 'f5_score'
    kwargs:
      print_freq: 25
      lmds_kwargs:
        kernel_size: [9, 9]
        adapt_ts: 0.3
        scale_factor: 1 # was 8 in the non patching case TODO fix this so it is 8 for single use and 1 for patching
        # scale_factor_patching: 1
        up: True

  stitcher:
    name: 'HerdNetStitcher'
    kwargs:
      overlap: 120
      down_ratio: ${model.kwargs.down_ratio}
      up: False
      reduction: 'mean'
  #stitcher: null

hydra:
  run:
    dir: /raid/cwinkelmann/herdnet/outputs/${now:%Y-%m-%d}/${now:%H-%M-%S}

