losses:
  FocalLoss:
    print_name: focal_loss
    from_torch: false
    output_idx: 0
    target_idx: 0
    lambda_const: 1.0
    kwargs:
      alpha: 3
      beta: 6
      reduction: mean
      normalize: false
  CrossEntropyLoss:
    print_name: ce_loss
    from_torch: true
    output_idx: 1
    target_idx: 1
    lambda_const: 1.0
    background_class_weight: 0.1
    class_1_weight: 4
    kwargs:
      reduction: mean
      weight:
      - ${losses.CrossEntropyLoss.background_class_weight}
      - ${losses.CrossEntropyLoss.class_1_weight}
      - 0.1
datasets:
  img_size:
  - 512
  - 512
  anno_type: point
  num_classes: 3
  collate_fn: null
  class_def:
    1: iguana_point
    2: hard_negative
  train:
    name: CSVDataset
    csv_file: /raid/cwinkelmann/training_data/iguana/2025_11_12/All_detection_extend/train/herdnet_format_512_160_crops.csv
    root_dir: /raid/cwinkelmann/training_data/iguana/2025_11_12/All_detection_extend/train/crops_512_numNone_overlap160
    sampler: null
    augmentation_multiplier: 1
    albu_transforms:
      RandomScale:
        scale_limit:
        - 0.8
        - 1.2
        p: 0
      ShiftScaleRotate:
        shift_limit: 0.15
        scale_limit: 0.15
        rotate_limit: 30
        p: 0
        border_mode: 4
      Perspective:
        scale:
        - 0.05
        - 0.15
        p: 0.3
      Affine:
        scale:
        - 0.9
        - 1.1
        translate_percent:
        - 0.1
        - 0.1
        rotate:
        - -30
        - 30
        shear:
        - -10
        - 10
        p: 0.1
      HorizontalFlip:
        p: 0.18166290564499016
      VerticalFlip:
        p: 0.3239315509596778
      MotionBlur:
        p: 0
      RandomRotate90:
        p: 0.4827827101972215
      RandomShadow:
        shadow_roi:
        - 0
        - 0.5
        - 1
        - 1
        num_shadows_lower: 1
        num_shadows_upper: 2
        shadow_dimension: 5
        p: 0
      RandomFog:
        fog_coef_lower: 0.2
        fog_coef_upper: 0.5
        alpha_coef: 0.08
        p: 0.1
      ImageCompression:
        quality_lower: 75
        quality_upper: 95
        compression_type: 0
        p: 0.1
      RandomBrightnessContrast:
        brightness_limit: 0.3
        contrast_limit: 0.3
        p: 0.1
      Blur:
        blur_limit: 3
        p: 0
      HueSaturationValue:
        hue_shift_limit: 0
        sat_shift_limit: 20
        val_shift_limit: 15
        p: 0.1
      CLAHE:
        clip_limit: 2.0
        p: 0.1
      ToGray:
        p: 0.1
      CenterCrop:
        height: 512
        width: 512
        p: 1.0
      Normalize:
        p: 1.0
    end_transforms:
      MultiTransformsWrapper:
        FIDT:
          num_classes: ${datasets.num_classes}
          down_ratio: ${model.kwargs.down_ratio}
          radius: 2
        PointsToMask:
          radius: 2
          num_classes: ${datasets.num_classes}
          squeeze: true
          down_ratio: 32
  validate:
    name: CSVDataset
    csv_file: /raid/cwinkelmann/training_data/iguana/2025_11_12/Fernandina_fwk/val/herdnet_format_512_0_crops.csv
    root_dir: /raid/cwinkelmann/training_data/iguana/2025_11_12/Fernandina_fwk/val/crops_512_numNone_overlap0
    albu_transforms:
      Normalize:
        p: 1.0
    end_transforms:
      DownSample:
        down_ratio: ${model.kwargs.down_ratio}
        anno_type: ${datasets.anno_type}
  test:
    name: 'CSVDataset'

    csv_file: '/home/cwinkelmann/work/Herdnet/data/2025_07_10_Floreana_val_corrected/Floreana_detection_corrected/train/herdnet_format_points.csv'
    root_dir: '/home/cwinkelmann/work/Herdnet/data/2025_07_10_Floreana_val_corrected/Floreana_detection_corrected/train/Default'
    tile_size: 2048

    albu_transforms:
      Normalize:
        p: 1.0
    end_transforms:
      DownSample:
        down_ratio: ${model.kwargs.down_ratio}
        anno_type: ${datasets.anno_type}




training_settings:
  trainer: Trainer
  epochs: 150
  valid_freq: 1
  print_freq: 225
  batch_size: 5
  optimizer: adamW
  lr: 0.001
  weight_decay: 0.00016
  num_workers: 2
  auto_lr:
    mode: max
    patience: 5
    threshold: 0.0001
    threshold_mode: rel
    cooldown: 10
    min_lr: 1.0e-07
    verbose: true
  warmup_iters: 100
  vizual_fn: visualize_sample
  visualiser:
    name: HeatMapVisualizer
    output_dir: ./visualizations
  loss_evaluation:
    name: LossEvaluator
    select_mode: min
    validate_on: total_loss
  evaluator:
    name: HerdNetEvaluator
    threshold: 100
    select_mode: max
    validate_on: f1_score
    kwargs:
      print_freq: 125
      lmds_kwargs:
        kernel_size:
        - 9
        - 9
        adapt_ts: 0.7
        scale_factor: 1
        up: true
  stitcher:
    name: HerdNetStitcher
    kwargs:
      overlap: 120
      down_ratio: ${model.kwargs.down_ratio}
      up: false
      reduction: mean
model:
  name: HerdNetTimmDLA
  from_torchvision: false
  load_from: '/Users/christian/Library/CloudStorage/GoogleDrive-christian.winkelmann@gmail.com/My Drive/documents/Studium/FIT/Master Thesis/submission/models/timm/dla34/13-34-36_lnyilxja/best_model.pth'
  resume_from: null
  kwargs:
    backbone: timm/dla34
    pretrained: true
    down_ratio: 4
    head_conv: 64
  freeze: null
wandb_notes: 'Hopefully the last training I need to do which combines the best annotations,
  training settings etc

  '
wandb_flag: true
wandb_project: f1_alldata_all_best_DINO
wandb_entity: karisu
wandb_run: iguana_20251117_opti_all_vs_fwk
wandb_tags:
- dla34
seed: 1
device_name: null
